<div id="page">

  {% include '@header' %}

  <main id="content">

    {% include '@cards--cluster-02' %}

    <section id="create">
      <div class="container max-width-adaptive-md padding-y-xl">
        <div class="grid gap-lg gap-xxxl@md items-center">
          <div class="col-6@md order-1@md">
            <span class="text-component line-height-lg v-space-lg">
              <h2 class="text-xl color-black">Bring your product pages to life with Inline Content.</h2>
              <p>Transform your existing marketing assets into powerful digital merchandising tools that increase interaction rates by up to 50%. Research shows that consumers are 100-150% more likely to buy after interaction with rich content.</p>
            </span>
            </div>
            <div class="col-6@md order-2@md">
              <figure class="media-wrapper media-wrapper--4:3">
                <img src="../../assets/images/brand-assets-1x.jpg" srcset="../../assets/images/brand-assets-2x.jpg 2x">
              </figure>
            </div>
          </div>
        </div>
      </section>

      <section id="create">
        <div class="container max-width-adaptive-md padding-y-xl">
          <div class="grid gap-lg gap-xxxl@md items-center">
            <div class="col-6@md order-2@md">
              <span class="text-component line-height-lg v-space-lg">
                <h2 class="text-xl color-black">Choose Self-Service or use CNET’s Concierge Content Service.</h2>
                <p>Our standard offering includes access to our Brand Content Portal for you to easily self-serve and build out the syndicated rich content experience you prefer.</p>
                <p>If you are short on time and resources, we can create rich content for you via our Concierge Content Service. We’ll take your creative assets and turn them into captivating interactive experiences to drive sales on Elkjop. Your choice. We’re happy to help.</p>
              </span>
              </div>
              <div class="col-6@md order-1@md">
                <figure class="media-wrapper media-wrapper--4:3">
                  <img src="../../assets/images/portal-1x.jpg" srcset="../../assets/images/portal-2x.jpg 2x">
                </figure>
              </div>
            </div>
          </div>
        </section>

    {% include '@webform' %}

  </main>

  {% include '@footer' %}

</div>
