<section class="bg-primary-dark padding-top-xs">
  <div class="container max-width-adaptive-sm padding-y-lg">
    <div class="grid gap-lg gap-xxxl@md items-center">
      <div class="col">
        <div class="text-component line-height-md v-space-lg text-center max-width-adaptive-sm margin-auto">
          <h2 class="text-lg text-xl@lg color-white text-bold">Extend the reach of your current digital brand assets by incorporating them into {{ clientName }} product pages</h2>
            <div class="text-component max-width-adaptive-xs margin-auto padding-y-sm">
            <figure class="media-wrapper radius-md">
              <video poster="https://assets.cnetcontent.com/media/brand-assets-placeholder.jpg" preload autoplay loop muted playsinline nofullscreen>
                <source src="https://assets.cnetcontent.com/media/brand-assets-placeholder.webm">
                <source src="https://assets.cnetcontent.com/media/brand-assets-placeholder.mp4">
              </video>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
