<div id="page">

{% include '@header' %}

<main id="content">
  <div class="max-width-adaptive-md margin-auto padding-md">
    {% include '@heading' with { headingText: 'heya' } %}
  </div>
</main>

{% include '@footer' %}

</div>
