{% include '@header' %}

<div id="content"
  class="container max-width-adaptive-lg margin-x-auto margin-bottom-auto">
  <div class="padding-lg">
    {% include '@heading' with {
      headingText: 'heya'
    } %}
  </div>
</div>

{% include '@footer' %}
