<section>
  <div class="container max-width-adaptive-md padding-y-xl">
    <div class="grid gap-lg gap-xxxl@md items-center">
  <div class="col-6@md {% if blockLayout == 'imgLeft' %}order-2@md{% endif %}">
        <span class="text-component line-height-lg v-space-sm text-base">
          <h2 class="text-lg text-xl@lg color-black padding-bottom-xs">Choose Self-Service or use CNET’s Concierge Content Service.</h2>
          <p>Our standard offering includes access to our Brand Content Portal for you to easily self-serve and build out the syndicated rich content experience you prefer</p>
          <p>If you are short on time and resources, we can create rich content for you via our Concierge Content Service. We’ll take your creative assets and turn them into captivating interactive experiences to drive sales on {{ clientSite }}. Your choice. We’re happy to help.</p>
        </span>
      </div>
    <div class="col-6@md {% if blockLayout == 'imgRight' %}order-2@md{% endif %}">
        <figure class="media-wrapper media-wrapper--4:3">
          <img src="https://assets.cnetcontent.com/images/services-1x.jpg" srcset="https://assets.cnetcontent.com/images/services-2x.jpg 2x">
        </figure>
      </div>
    </div>
  </div>
</section>
