// out: ../../costco.html, pretty:false

include _0_content

doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='icon', href='assets/icon/redball.ico')
    title= intro.headline
    meta(name="description" content=intro.copy)
    script document.getElementsByTagName("html")[0].className += " js";
    link#codyframe(rel='stylesheet', href='assets/css/style.css')
    script if(!('CSS' in window) || !CSS.supports('color', 'var(--color-var)')) {var cfStyle = document.getElementById('codyframe');if(cfStyle) {var href = cfStyle.getAttribute('href');href = href.replace('style.css', 'style-fallback.css');cfStyle.setAttribute('href', href);}}
    script.
      function ImagePreload() {
      if(window.devicePixelRatio > 1) {
        imgA1 = new Image(); imgA1.src = 'https://cdn.cnetcontent.com/sites/pages/features-hotspots-2x.jpg';
        imgA2 = new Image(); imgA2.src = 'https://cdn.cnetcontent.com/sites/pages/features-icons-2x.jpg';
        imgA3 = new Image(); imgA3.src = 'https://cdn.cnetcontent.com/sites/pages/features-reviews-2x.jpg';
        imgA4 = new Image(); imgA4.src = 'https://cdn.cnetcontent.com/sites/pages/features-spin-2x.jpg';
        imgA5 = new Image(); imgA5.src = 'https://cdn.cnetcontent.com/sites/pages/features-videos-2x.jpg';
        imgA6 = new Image(); imgA6.src = 'https://cdn.cnetcontent.com/sites/pages/features-zoom-2x.jpg';
        } else { 
          imgB1 = new Image(); imgB1.src = 'https://cdn.cnetcontent.com/sites/pages/features-hotspots-1x.jpg';
          imgB2 = new Image(); imgB2.src = 'https://cdn.cnetcontent.com/sites/pages/features-icons-1x.jpg';
          imgB3 = new Image(); imgB3.src = 'https://cdn.cnetcontent.com/sites/pages/features-reviews-1x.jpg';
          imgB4 = new Image(); imgB4.src = 'https://cdn.cnetcontent.com/sites/pages/features-spin-1x.jpg';
          imgB5 = new Image(); imgB5.src = 'https://cdn.cnetcontent.com/sites/pages/features-videos-1x.jpg';
          imgB6 = new Image(); imgB6.src = 'https://cdn.cnetcontent.com/sites/pages/features-zoom-1x.jpg';
        }
      };
      window.onload = ImagePreload;
        function ImageSwap(ImageID,FileName1,FileName2) {
        document.getElementById(ImageID).src = FileName1;
        document.getElementById(ImageID).srcset = FileName2;
      }; 

  body(data-theme="default")
  
    include ../../blocks/_1_header
    
    section#introduction(class='margin-top-xxl margin-top-xxxl@md')
      div(class='container max-width-adaptive-md padding-y-xl')
        include ../../blocks/_2_intro
    
    //-section#services(class='bg-cover position-relative margin-top-lg padding-y-lg', style='background-image: url("https://staples.cnetcontent.com/assets/images/group-of-person-sitting-indoors.jpg")')
      div.overlay.z-index-1(style='background:var(--color-black)')
      .container.max-width-adaptive-md.z-index-2.position-relative.justify-center
        include _3_card-grid-services
        
    //- section#benefits(class='bg-cover position-relative padding-y-lg', style='background-image: url("https://walmart.cnetcontent.com/stage/assets/images/background.jpg")')
      div.overlay.z-index-1(style='background:var(--color-primary-darker)')
      .container.max-width-adaptive-lg.margin-bottom-xs.position-relative.z-index-1
        include _3_card-grid-benefits

    //- section#create
      div(class='container max-width-adaptive-md padding-y-xl')
        include _2_block-create
        
    section#features
      div(class='container max-width-adaptive-md padding-y-xl margin-bottom-sm')
        include _3_feature-panel-inline
        
    section#reach.bg-primary-dark
      div(class='container max-width-adaptive-md padding-y-xl')
        include _2_block-reach

    section#hotspots
      div(class='container max-width-adaptive-md padding-y-xl')
        include _2_block-hotspots
    
    //- section#banner.bg-contrast-lower.padding-top-lg
      .container.padding-y-lg(style='max-width:1030px')
        include _3_banner-structured
    
    section#contact(class='bg-contrast-lower padding-top-md padding-bottom-xl')
      .container.max-width-adaptive-sm
        include _4_contact-retail
    
    section#customers(class='bg position-relative z-index-1 padding-y-xl')
      .container.max-width-adaptive-md
        include ../../blocks/_3_carousel
    
    include ../../blocks/_1_footer
    
    script(src='assets/js/scripts.js')
        
