// main: ../../staples.pug


//- Header 
-
  var header = {
    logo : "index.html",
    logoTextOne : "Val",
    logoTextTwo : "WOW",
    button : {
      Home : "#intro",
      About : "#about",
      Work : "#work",
      Contact : "#contact"
    } 
  }

//- Intro 
-
  var intro = {
    headline: "Get your content onto Amazon without the hassle.",
    copy: "CNET Content Solutions has made it simple for you to get your brand’s digital marketing content directly onto Amazon product pages.",
    button: {
      label: "Start Syndicating Content",
      link: "#contact"
    },
    media: {
      standard: "assets/images/brand-assets-1x.jpg",
      retina: "assets/images/brand-assets-2x.jpg"
    },
    subtext: "<p class='padding-top-sm'>Sign in to your <a class='color-primary' href='https://www.partneraccess.com/login' target='_blank'> PartnerAccess for Staples</a> account.</p>",
    flip: false
  }

//- Inline
-
  var inline = {
    headline: "Bring your product pages to life with Syndicated Rich Content.",
    copy: "<p>Transform your existing marketing assets into powerful digital merchandising tools that <mark>increase interaction rates by up to 50%</mark>. Research shows that consumers are <mark>100-150% more likely to buy</mark> after interaction with rich content.</p>",
    media: {
      image: "assets/media/brand-assets.jpg",
      webm: "assets/media/brand-assets.webm",
      mp4: "assets/media/brand-assets.jpg"
    },
    flip: true
  }

//- Hotspots
-
  var hotspots = {
    headline: "Drive sales by displaying lifestyle imagery with multiple products.",
    copy: "<ul class='list list--ul text-md margin-top-md@md margin-left-md@md margin-left-sm@sm'><li>Showcase related products</li><li>Visualize real use</li><li>Encourage add-on sales</li></ul>",
    media: {
      image: "https://staples.cnetcontent.com/assets/images/interactive-content.jpg",
      webm: "https://staples.cnetcontent.com/assets/images/interactive-content.webm",
      mp4: "https://staples.cnetcontent.com/assets/images/interactive-content.mp4"
    },
    flip: false
  }

//- Portal
-
  var portal = {
    headline: "Choose Self-Service or use CNET’s Concierge Content Service.",
    copy: "<p>Our standard offering includes access to our Brand Content Portal for you to easily self-serve and build out the syndicated rich content experience you prefer.</p><p>If you are short on time and resources, we can create rich content for you via our Concierge Content Service. We’ll take your creative assets and turn them into captivating interactive experiences to drive sales on staples.com. Your choice. We’re happy to help.</p>",
    media: {
      standard: "https://walmart.cnetcontent.com/stage/assets/images/app-screen-1x.jpg",
      retina: "https://walmart.cnetcontent.com/stage/assets/images/app-screen-2x.jpg"
    },
    flip: false
  }

//- Banner
-
  var banner = {
    headline: "Help ensure your Staples Structured Content is accurate and complete.",
    copy: "<p>As Staples' Structured Content provider, we need your help to ensure your products go live with complete and accurate content in a timely manner. We make it easy. Simply respond to our CNET Requests for missing information through our easy to use PartnerAccess for Staples portal.</p>",
    button: {
      label: "Sign up for FREE",
      url: "javascript:void(0)"
    },
    link: {
      label: "login here",
      url: "https://www.partneraccess.com"
    }
  }

//- Card
-
  var card = {
    headline: "One partner. One complete solution.",
    block1: {
      icon: "<svg class='color-primary' fill='currentColor', width='48', height='48', viewBox='0 0 32 32', xmlns='http://www.w3.org/2000/svg'> <path d='m6 4v24h20v-24zm2 2h16v20h-16zm2 3v2h12v-2zm0 4v2h2v-2zm4 0v2h8v-2zm-4 4v2h2v-2zm4 0v2h8v-2zm-4 4v2h2v-2zm4 0v2h8v-2z'></svg>",
      title: "Structured Content",
      text: '<ul class="list list--ul margin-left-sm text-md"><li class="line-height-sm">Product Title</li><li class="line-height-sm">Premium SEO Product Descriptions</li><li class="line-height-sm">Product Imagery and Specifications</li></ul>',
      cta: "Learn More",
      url: ""
    },
    block2: {
      icon: '<svg class="color-primary" fill="currentColor" width="48" height="48" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="m10 2v7h2v-5h2v1h2v-1h9v1h2v-1h2v12h-2v-1h-2v3h6v-16zm4 5v2h2v-2zm11 0v2h2v-2zm-23 4v18h21v-18zm23 0v2h2v-2zm-21 2h17v9.78125l-2.59375-2.59375-.71875-.6875-2.8125 2.8125-4.28125-4.3125-.6875-.71875-5.90625 5.90625zm11.5 2c-.829 0-1.5.671-1.5 1.5s.671 1.5 1.5 1.5 1.5-.671 1.5-1.5-.671-1.5-1.5-1.5zm-5.5957031 5.125 5.0000001 5 .689453-.71875 2.09375-2.09375 3.3125 3.3125v1.375h-17v-.96875z"></path></svg>',
      title: 'Syndicated Rich Content',
      text: '<ul class="list list--ul margin-left-sm text-md"><li class="line-height-sm">Interactive Hotspot Imagery</li><li class="line-height-sm">Zoom Imagery</li><li class="line-height-sm">Videos</li><li class="line-height-sm">360 Degree Spin Images</li></ul>',
      cta: "Learn More",
      url: ""
    }
  }
  
//- Contact
-
  var contact = {
    headline: "Contact us to get started with your Syndicated Rich Content.",
    text: "<p>Fill out the form below and submit it. A representative will reach out to you with more information about adding your rich content to Staples' sites.</p>",
    legal: "CNET Content Solutions will use your personal information to manage the partner program."
  }

//- Footer
-
  var footer = {
    link: {
      company:  { label: 'CNET Content Solutions', url: 'http://cnetcontent.com' },
      patents:  { label: 'Patents', url: 'https://www.cbsinteractive.com/legal/cbsi/patents' },
      terms:    { label: 'Terms of Use', url: 'https://www.cbsinteractive.com/legal/cbsi/terms-of-use' },
      privacy:  { label: 'Privacy Policy', url: 'https://www.cbsinteractive.com/legal/cbsi/privacy-policy/highlights' },
      caliA:    { label: 'California Privacy/Info We Collect', url: 'https://ca.privacy.cbs' },
      caliB:    { label: 'California Do Not Sell My Info', url: 'https://ca.privacy.cbs/donotsell' },
    },
    copyright: '© <!--#config timefmt="%Y" --> <!--#echo var="DATE_LOCAL" --> Copyright. All rights reserved.'
  }
  
//- Clients
-
  var customer = { 
    logos: [
      { name: 'lexmark', image: 'assets/logos/lexmark.svg' },
      { name: 'jabra', image: 'assets/logos/jabra.png' },
      { name: 'hp', image: 'assets/logos/hp.svg' },
      { name: 'ge', image: 'assets/logos/ge.svg' },
      { name: 'epson', image: 'assets/logos/epson.svg' },
      { name: 'electrolux', image: 'assets/logos/electrolux.svg' },
      { name: 'duracell', image: 'assets/logos/duracell.svg' },
      { name: 'dell', image: 'assets/logos/dell.svg' },
      { name: 'corsair', image: 'assets/logos/corsair.svg' },
      { name: 'coca-cola', image: 'assets/logos/coca-cola.svg' },
      { name: 'chefman', image: 'assets/logos/chefman.png' },
      { name: 'asus', image: 'assets/logos/asus.svg' },
    ]
  }
