// main: ../../staples.pug

.grid.gap-xxl.items-center
  div(class='col-6@md order-2@md')
    .text-component
      h2(class='text-xl text-xxl@md') Syndicated Rich Content for Staples includes the following features:
      ul(class='list list--ul text-md margin-top-md@md margin-left-md@md margin-left-sm@sm')
        li
          a(class='color-primary', href='javascript:void(0)', onmouseout='ImageSwap("jsImageSwap","https://staples.cnetcontent.com/assets/images/features-hover-1x.jpg","https://staples.cnetcontent.com/assets/images/features-hover-2x.jpg")', onmouseover='ImageSwap("jsImageSwap","https://staples.cnetcontent.com/assets/images/features-videos-1x.jpg","https://staples.cnetcontent.com/assets/images/features-videos-2x.jpg")') Videos
        li
          a(class='color-primary', href='javascript:void(0)', onmouseout='ImageSwap("jsImageSwap","https://staples.cnetcontent.com/assets/images/features-hover-1x.jpg","https://staples.cnetcontent.com/assets/images/features-hover-2x.jpg")', onmouseover='ImageSwap("jsImageSwap","https://staples.cnetcontent.com/assets/images/features-hotspots-1x.jpg","https://staples.cnetcontent.com/assets/images/features-hotspots-2x.jpg")') Interactive Hotspots
        li
          a(class='color-primary', href='javascript:void(0)', onmouseout='ImageSwap("jsImageSwap","https://staples.cnetcontent.com/assets/images/features-hover-1x.jpg","https://staples.cnetcontent.com/assets/images/features-hover-2x.jpg")', onmouseover='ImageSwap("jsImageSwap","https://staples.cnetcontent.com/assets/images/features-zoom-1x.jpg","https://staples.cnetcontent.com/assets/images/features-zoom-2x.jpg")') Image Zoom
        li
          a(class='color-primary', href='javascript:void(0)', onmouseout='ImageSwap("jsImageSwap","https://staples.cnetcontent.com/assets/images/features-hover-1x.jpg","https://staples.cnetcontent.com/assets/images/features-hover-2x.jpg")', onmouseover='ImageSwap("jsImageSwap","https://staples.cnetcontent.com/assets/images/features-spin-1x.jpg","https://staples.cnetcontent.com/assets/images/features-spin-2x.jpg")') 360° Product Views
        li
          a(class='color-primary', href='javascript:void(0)', onmouseout='ImageSwap("jsImageSwap","https://staples.cnetcontent.com/assets/images/features-hover-1x.jpg","https://staples.cnetcontent.com/assets/images/features-hover-2x.jpg")', onmouseover='ImageSwap("jsImageSwap","https://staples.cnetcontent.com/assets/images/features-reporting-1x.jpg","https://staples.cnetcontent.com/assets/images/features-reporting-2x.jpg")') Detailed Reporting
  div(class='col-6@md order-1@md')
    figure.media-wrapper
      img.ccs-media-scale#jsImageSwap(src='https://staples.cnetcontent.com/assets/images/features-hover-1x.jpg', srcset='https://staples.cnetcontent.com/assets/images/features-hover-2x.jpg')
