extend ../layouts/default

append vars

append styles

append scripts
  style.
    body {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }


block body
  div(class='container max-width-adaptive-md padding-y-xl text-center')
    a.btn(href='walmart') Walmart
    a.btn(href='amazon') Amazon
    a.btn(href='elkjop') Elkjop
    a.btn(href='costco') Costco
    a.btn(href='sony') Sony







  //- section(class='text-divider') #[span(class='font-semibold') Boxed Feature]

  //- section.position-relative.z-index-1.margin-y-lg
    .container.max-width-adaptive-xl
      .grid
        div(class='bg-contrast-lower flex items-center col-6@md')
          div(class='padding-md padding-x-lg@lg padding-y-xxl@lg')
            div(class='text-sm color-contrast-medium margin-bottom-xxs ') This is a Label
            div(class='text-component')
              h1 Lorem ipsum dolor sit.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem neque doloribus impedit explicabo minus laborum cupiditate atque esse consectetur.
            .margin-top-sm
              .flex.flex-wrap.gap-sm.items-center
                a.btn.btn--primary(href='#0') Download
                a.color-inherit(href='#0') Learn more
        img(class='block width-100% object-cover col-6@md', src='assets/images/_outside-mobile-top-2x.jpg', alt='Image description')

  //- section.feature-v4
    div(class='container max-width-adaptive-lg')
      div(class='feature-v4__grid grid gap-md items-center')
        div(class='col-5@md position-relative z-index-1')
          div(class='text-sm color-contrast-medium margin-bottom-xxs') This is a Label
          div(class='text-component')
            h1(class='text-xxxl feature-v4__text-offset@md') Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem neque doloribus impedit explicabo minus laborum cupiditate atque esse consectetur.
          div(class='margin-top-sm')
            div(class='flex flex-wrap gap-sm items-center')
              a.btn.btn--primary(href='#0') Download
              a.color-inherit(href='#0') Learn more
        div(class='col-7@md')
          figure
            img(class='block width-100%', src='assets/images/_outside-mobile-top-2x.jpg', alt='Image description')
