.loop-tabs.padding-y-lg.js-loop-tabs
  .container.max-width-adaptive-md
    .grid.gap-md(class='flex-row-reverse@md')
      .loop-tabs__content.flex.flex-column.text-center(class='col-8@md flex-column-reverse@md justify-center@md text-left@md')
        ul.loop-tabs__controls.js-loop-tabs__controls.margin-bottom-lg.flex.flex-center.flex-wrap(class='margin-bottom-0@lg flex-column@md items-start@md')
          li #[a.loop-tabs__control.loop-tabs__control--selected.text-sm.padding-md(href='#timingTab1Panel1') Feature 1]
          li #[a.loop-tabs__control.text-sm.padding-md(href='#timingTab1Panel2') Feature 2]
          li #[a.loop-tabs__control.text-sm.padding-md(href='#timingTab1Panel3') Feature 3]
          li #[a.loop-tabs__control.text-sm.padding-md(href='#timingTab1Panel4') Feature 4]
          li #[a.loop-tabs__control.text-sm.padding-md(href='#timingTab1Panel5') Feature 5]
          li #[a.loop-tabs__control.text-sm.padding-md(href='#timingTab1Panel6') Feature 6]
          li #[a.loop-tabs__control.text-sm.padding-md(href='#timingTab1Panel7') Feature 7]
        .loop-tabs__panels.js-loop-tabs__panels.margin-bottom-md.is-hidden
          section#timingTab1Panel1.loop-tabs__panel.js-loop-tabs__panel.text-component.loop-tabs__panel--selected
            p 1
          section#timingTab1Panel2.loop-tabs__panel.js-loop-tabs__panel.text-component
            p 2
          section#timingTab1Panel3.loop-tabs__panel.js-loop-tabs__panel.text-component
            p 3
          section#timingTab1Panel4.loop-tabs__panel.js-loop-tabs__panel.text-component
            p 4
          section#timingTab1Panel5.loop-tabs__panel.js-loop-tabs__panel.text-component
            p 5
          section#timingTab1Panel6.loop-tabs__panel.js-loop-tabs__panel.text-component
            p 6
          section#timingTab1Panel7.loop-tabs__panel.js-loop-tabs__panel.text-component
            p 7
      .loop-tabs__media(class='col-4@md', aria-hidden='true')
        ul.loop-tabs__assets.js-loop-tabs__assets
          li.loop-tabs__asset.loop-tabs__asset--selected #[img(src='../assets/images/features-hover-1x.jpg', class='block width-100% object-cover', alt='Feature 3 Preview')]
          li.loop-tabs__asset #[img(src='../assets/images/features-reporting-1x.jpg', class='block width-100% object-cover', srcset='../assets/images/features-hover-2x.jpg 2x', alt='Feature 1 Preview')]
          li.loop-tabs__asset #[img(src='../assets/images/features-videos-1x.jpg',  srcset='../assets/images/features-assets/images/videos-2x.jpg 2x', alt='Feature 2 Preview')]
          li.loop-tabs__asset #[img(src='../assets/images/features-tabs-img-3.jpg', class='block width-100% object-cover', alt='Feature 3 Preview')]
          li.loop-tabs__asset #[img(src='../assets/images/features-tabs-img-2.jpg', class='block width-100% object-cover', alt='Feature 4 Preview')]
          li.loop-tabs__asset #[img(src='../assets/images/features-tabs-img-3.jpg', class='block width-100% object-cover', alt='Feature 5 Preview')]
          li.loop-tabs__asset #[img(src='../assets/images/features-tabs-img-2.jpg', class='block width-100% object-cover', alt='Feature 6 Preview')]
          li.loop-tabs__asset #[img(src='../assets/images/features-tabs-img-3.jpg', class='block width-100% object-cover', alt='Feature 7 Preview')]
