<header class="header js-header anchor" id="header">
  <style>
    #header{--header-height:80px;--header-height-md:72px;--color-bg:var(--color-primary-darker);--color-contrast-higher:#fff;position:fixed;top:0;width:100%}
    #header
    .header__item--divider{width:2px;height:3rem;opacity:.5;background-color:#fff}
    #header
    .btn{background-color:transparent;color:var(--color-white);box-shadow:inset
    0 0 0 2px rgba(255,255,255,0.5)!important;font-size:var(--text-base-size)}
    #header
    .btn:hover{background-color:var(--color-white);color:var(--color-primary);box-shadow:inset
    0 0 0 2px transparent} #header .header__trigger{box-shadow:inset 0 0 0 2px
    transparent!important;padding-right:0} #header
    .header__trigger-icon{margin-right:0;width:1.5em} #header
    .header__trigger:hover{background:transparent} #header
    .header__nav--is-visible .header__item--divider{display:none} #header
    .header__nav::before{border:none}
    .header__item { text-align: center }
    .header__item img { margin: auto }
  </style>
  <div class="header__container container max-width-adaptive-lg">
    <div class="header__logo">
      <a href="#top">
        {% include '@logo--default' with {
          logoColor: 'white'
        } %}
      </a>
    </div>
    <button class="btn btn--subtle header__trigger js-header__trigger"
      aria-label="Toggle menu"
      aria-expanded="false"
      aria-controls="header-nav">
      <i class="header__trigger-icon" aria-hidden="true">
        <span class="is-hidden">Menu</span>
      </i>
    </button>
    <nav class="header__nav js-header__nav"
      id="header-nav"
      role="navigation"
      aria-label="Main">
      <div class="header__nav-inner max-width-adaptive-lg margin-auto">
        <div class="header__label is-hidden">
          Main menu
        </div>
        <ul class="header__list">
          <li class="header__item">
            {% include '@logo--company-x' with {
              logoColor: 'white'
            } %}
          </li>
          <li class="header__item header__item--divider" aria-hidden="true">

          </li>
          <li class="header__item">
            <a class="btn btn--subtle js-smooth-scroll"
              href="#contact"
              data-duration="300">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <a class="anchor" id="top"></a>
  </div>
</header>
