<section>
  <div class="container max-width-adaptive-md padding-y-xl">
    <div class="grid gap-lg gap-xxxl@md items-center">
      <div class="{{ blockClassTxt }} text-center">
        <span class="text-component line-height-lg v-space-lg">
          <h2 class="text-xl color-black">{{ blockHeadline }}</h2>
          {{ blockCopy }}
        </span>
      </div>
    </div>
  </div>
</section>
