<section class="padding-y-xl">
  <div class="container max-width-adaptive-md">
    <div class="grid gap-lg gap-xxxl@md items-center">
      <div class="col-6@md order-1@md">
        <div class="text-component line-height-lg v-space-xl">
          <h2 class="text-lg text-xl@lg color-black">Sell more Sony products online with rich merchandising content.</h2>
            <p>Sony has chosen CNET Content Solutions as its exclusive partner to provide Sony inline product content and Sony Brand Showcase to its retailer partners. To make sure you receive the most up-to-date and complete Sony content directly on your website, visit our client portal by creating an account or logging in below.</p>
            <p>If you have questions, please <a href="#contact" class="color-black" href="https://portal.cnetcontent.com/en-us/support">contact us</a>.</p>
            <a class="btn btn--primary" href="https://portal.cnetcontent.com/en-us/account/preregister"><strong>Create Account</strong></a>
            <a class="padding-md color-black" href="https://portal.cnetcontent.com/en-us">Log In Here</a>
          </div>
        </div>
      <div class="col-6@md order-2@md">
        <figure class="media-wrapper media-wrapper--4:3">
          <img src="/images/sony-intro-1x.jpg" srcset="/images/sony-intro-2x.jpg 2x">
        </figure>
      </div>
    </div>
  </div>
</section>
