<div class="grid gap-sm max-width-adaptive-sm">
  <div class="col-8@md">
    <label class="form-label padding-bottom-xxxs" for="region">Region</label>
    {% include '@sfdc--region' %}
  </div>
  <div class="col-8@md">
    <label class="form-label padding-bottom-xxxs" for="region">Country</label>
    {% include '@sfdc--country' %}
  </div>
  <div class="col-8@md">
    <label class="form-label padding-bottom-xxxs" for="region">State</label>
    {% include '@sfdc--state' %}
  </div>
  <div class="col-8@md">
    <label class="form-label padding-bottom-xxxs" for="region">Product</label>
    {% include '@sfdc--products' %}
  </div>
</div>
