<div class="grid gap-sm max-width-adaptive-sm">
  <div class="col-8@md">
    {% include '@sfdc--region' %}
  </div>
  <div class="col-8@md">
    {% include '@sfdc--country' %}
  </div>
  <div class="col-8@md">
    {% include '@sfdc--state' %}
  </div>
  <div class="col-8@md">
    {% include '@sfdc--products' %}
  </div>

</div>
