<section>
  <div class="container max-width-adaptive-md padding-y-xl">
    <div class="grid gap-lg gap-xxxl@md items-center">
      <div class="col-6@md order-1@md">
        <div class="text-component line-height-lg v-space-lg">
          <h2 class="text-xl color-black">Transform your existing marketing assets into powerful digital merchandising tools on Costco.com</h2>
            <p>Costco has chosen CNET Content Solutions as a partner for Syndicated Rich Content for Costco.com, CostcoBusinessDelivery.com, and Costco.ca.</p>
            <a href="#contact" class="btn btn--primary">Get Started</a>
          </div>
        </div>
      <div class="col-6@md order-2@md">
        <figure class="media-wrapper media-wrapper--4:3">
          <img src="../../images/store-mobile-washing-1x.jpg" srcset="../../images/store-mobile-washing-2x.jpg 2x">
        </figure>
      </div>
    </div>
  </div>
</section>
