<div id="page">

  {% include '@header' %}

  <main id="content">

  {{ source('src/components/pages/retailers/costco/_intro.twig') }}

  {{ source('src/components/pages/retailers/costco/_features.twig') }}

  {% include '@retail--repurpose-assets' %}

  {% include '@retail--marketing-benefits' %}

  {% include '@retail--service-options' %}

  {% include '@webform--onboarding' %}

  </main>

  {% include '@footer' %}

</div>
