<div id="page">

  {% include '@header' %}

  <main id="content">



  <center>hero</center>



  <section>
    <div class="container max-width-adaptive-md padding-y-xl">
      <div class="grid gap-lg gap-xxxl@md items-center">
        <div class="col-6@md order-2@md">
          <div class="text-component line-height-lg v-space-lg">
            <h2 class="text-xl color-black">The Costco Exclusive Offering</h2>
            <ul>
              <li>hoijkl;</li>
              <li>hoijkl;</li>
              <li>hoijkl;</li>
              <li>hoijkl;</li>
              <li>hoijkl;</li>
            </ul>
          </div>
        </div>
        <div class="col-6@md order-1@md">
          <figure class="media-wrapper media-wrapper--4:3">
            <img src="../../assets/images/placeholder-4-3.jpg" srcset="../../assets/images/placeholder-4-3.jpg 2x">
          </figure>
        </div>
      </div>
    </div>
  </section>



  <section class="bg-primary-dark">
    <div class="container max-width-adaptive-sm padding-y-xl">
      <div class="grid gap-lg gap-xxxl@md items-center">
        <div class="col">
          <div class="text-component line-height-md v-space-lg text-center max-width-adaptive-sm margin-auto">
            <h2 class="text-xl color-white">Extend the reach of your current digital brand assets by incorporating them into The Costco's product pages</h2>
              <div class="text-component max-width-adaptive-xs margin-auto padding-y-sm">
              <figure class="media-wrapper radius-md">
                <video poster="https://assets.cnetcontent.com/media/brand-assets.jpg" preload autoplay loop muted playsinline nofullscreen>
                  <source src="https://assets.cnetcontent.com/media/brand-assets.webm">
                  <source src="https://assets.cnetcontent.com/media/brand-assets.mp4">
                </video>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section>
    <div class="container max-width-adaptive-md padding-y-xl">
      <div class="grid gap-lg gap-xxxl@md items-center">
        <div class="col-12@md order-1@ text-center padding-bottom-md">
          <h2 class="text-xl color-black">Choose Self-Service or use CNET’s Concierge Content Service</h2>
        </div>
      </div>
      <div class="grid gap-lg gap-xxxl@md items-center">
        <div class="col-6@md order-1@md">
          <span class="text-component line-height-lg v-space-sm text-base">
            <p>Our standard offering includes access to our Brand Content Portal for you to easily self-serve and build out the syndicated rich content experience you prefer</p>
            <p>If you are short on time and resources, we can create rich content for you via our Concierge Content Service. We’ll take your creative assets and turn them into captivating interactive experiences to drive sales on Costco.com. Your choice. We’re happy to help.</p>
          </span>
        </div>
        <div class="col-6@md order-2@md">
          <figure class="media-wrapper media-wrapper--4:3">
            <img src="../../assets/images/portal-1x.jpg" srcset="../../assets/images/portal-2x.jpg 2x">
          </figure>
        </div>
      </div>
    </div>
  </section>


    <div class="max-width-adaptive-md margin-auto padding-md bg-contrast-lower">
      {% include '@webform' %}
    </div>
  </main>

  {% include '@footer' %}

</div>
