div(class='text-component text-center padding-x-sm')
  h1(class='color-white text-xxl text-xxxl@lg padding-y-xxs@lg')=benefits.headline
div(class='padding-y-lg flex justify-center max-width-adaptive-lg margin-auto')
  div(class='grid gap-xl justify-center z-index-3 width-100%')
    each item, index in benefits.cards
      div(class='link-card bg radius-lg col-4@lg')
        span(class='flex flex-column width-100%')
          header(class='padding-x-md padding-top-md padding-x-lg@lg')
            figure(class='icon--md margin-right-xxxs') !{item.icon}
            div.line-height-xs
              h4.text-md=item.title
          main(class='text-component margin-bottom-auto padding-x-md padding-y-sm padding-x-lg@lg padding-right-xxl@lg')
            p=item.text
          br
