div(style="max-height:360px;max-width:620px;margin-bottom:2rem")
  link(rel='stylesheet', href='https://cdn.cnetcontent.com/sites/scripts/plyr-style.min.css')
  script(src='https://cdn.cnetcontent.com/sites/scripts/plyr-polyfill.min.js')
  video#player(playsinline, controls, width='620' height='360' poster='https://cdn.cnetcontent.com/sites/video/contentcast-ecom-modules.png')
    source(src='https://cdn.cnetcontent.com/sites/video/contentcast-ecom-modules.webm', type='video/webm')
    source(src='https://cdn.cnetcontent.com/sites/video/contentcast-ecom-modules.mp4', type='video/mp4')
 script(src='https://cdn.cnetcontent.com/sites/scripts/plyr-video.min.js')
 | <script>
 |   document.addEventListener('DOMContentLoaded', () => {
 |     const player = new Plyr('#player', 'volume = 0.5');
 |     window.player = player;
 |     function on(selector, type, callback) {
 |       document.querySelector(selector).addEventListener(type, callback, false); }
 |       on('.js-play', 'click', () => { player.play(); });
 |       on('.js-pause', 'click', () => { player.pause(); });
 |       on('.js-stop', 'click', () => { player.stop(); });
 |       on('.js-rewind', 'click', () => { player.rewind(); });
 |       on('.js-forward', 'click', () => { player.forward(); });
 |   });
 | </script>
