#header {
  --header-height: 80px;
  --header-height-md: 72px;
  --color-bg: var(--color-primary-darker);
  --color-contrast-higher: white;
  position: fixed;
  top: 0;
  width: 100%;
}

#header .header__item--divider {
  width: 2px;
  height: 3rem;
  opacity: 0.5;
  background-color: white;
}

#header .btn {
  background-color: transparent;
  color: var(--color-white);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5) !important;
  font-size: var(--text-base-size);
}

#header .btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  box-shadow: inset 0 0 0 2px transparent;
}

#header .header__trigger {
  box-shadow: inset 0 0 0 2px transparent !important;
  padding-right: 0;
}

#header .header__trigger-icon {
  margin-right: 0;
  width: 1.5em;
}

#header .header__trigger:hover {
  background: transparent;
}

#header .header__nav--is-visible .header__item--divider {
  display: none;
}

#header .header__nav::before {
  border: none;
}
