// main: ../../index.pug

div(class='padding-y-xxl')
  div(class='container max-width-adaptive-sm center-items')
    div(class='text-component text-center line-height-lg v-space-lg')
      h4(class='text-lg padding-bottom-xxxs')=banner.headline
      | !{banner.copy}
    div(class='margin-top-sm text-center')
      div(class='flex flex-wrap gap-xxxs items-center justify-center')
        a(class='btn btn--primary', href=banner.button.url)=banner.button.label
        span or
        a(class='color-primary-dark', href=banner.link.url, target='_blank')=banner.link.label
        span if you have an account.
svg(class='section-divider', viewBox='0 0 1920 60', aria-hidden='true') #[path(fill='rgb(244, 244, 246)', d='M1920,60H0S361,0,960,0,1920,60,1920,60Z')]
