div(class='text-component max-width-adaptive-sm margin-auto padding-y-sm')
  h3(class='text-xl text-center color-white text-bold') Extend the reach of your current digital brand assets by incorporating them into The #{header.logo.alt}'s product pages
div(class='max-width-adaptive-xs margin-auto padding-y-sm')
  figure(class='media-wrapper media-wrapper--4:3')
    video(poster='../assets/media/brand-assets.jpg', preload, autoplay, loop, muted, playsinline, nofullscreen)
      source(src='../assets/media/brand-assets.webm')
      source(src='../assets/media/brand-assets.mp4')
      img(src='../assets/media/brand-assets.jpg', alt='thumbnail', aria-label='media')
