// main: ../index.pug

.grid.gap-xxl.items-center
  div(class='col-6@md order-1@md')
    .text-component
      h2.text-xxl Drive sales by displaying lifestyle imagery with multiple products.
      ul(class='list list--ul text-md margin-top-md@md margin-left-md@md margin-left-sm@sm')
        li Showcase related products
        li Visualize real use
        li Encourage add-on sales
  div(class='col-6@md order-2@md')
    figure
      video.ccs-media-scale(poster='https://staples.cnetcontent.com/assets/images/interactive-content.jpg', width='960', preload, autoplay, loop, muted, playsinline, nofullscreen)
        source(src='https://staples.cnetcontent.com/assets/images/interactive-content.webm')
        source(src='https://staples.cnetcontent.com/assets/images/interactive-content.mp4')
        img(src='https://staples.cnetcontent.com/assets/images/interactive-content.jpg', alt='Poster Frame', aria-label='Hotspots')
        section.position-relative.z-index-1.padding-y-lg
