// main: ../index.pug

.grid.gap-xxl.items-center
  div(class='col-6@md order-1@md')
    .text-component
      h2.text-xl Choose Self-Service or use CNET’s Concierge Content Service.
      p Our standard offering includes access to our Brand Content Portal for you to easily self-serve and build out the syndicated rich content experience you prefer.
      p If you are short on time and resources, we can create rich content for you via our Concierge Content Service. We’ll take your creative assets and turn them into captivating interactive experiences to drive sales on staples.com. Your choice. We’re happy to help.
  div(class='col-6@md order-2@md')
    figure(class='media-wrapper media-wrapper--4:3')
      img(src='https://staples.cnetcontent.com/assets/images/app-screen.jpg')
