.fast {
  width: 32px;
  height: 32px;
}

.media {
  width: 32px;
  height: 32px;
}

.money {
  width: 32px;
  height: 32px;
}

.scale {
  width: 32px;
  height: 32px;
}

.spec {
  width: 32px;
  height: 32px;
}

.support {
  width: 32px;
  height: 32px;
}

.svg-symbols {
  width: 100px;
  height: 100px;
}

.time {
  width: 32px;
  height: 32px;
}

.trust {
  width: 32px;
  height: 32px;
}

