<div id="page">

  {% include '@header' %}

  <main id="content">

  <section style="background-image: url('../../images/bg-scene-wall.jpg')">
    <div class="container max-width-adaptive-md padding-y-xl">
      <div class="grid gap-lg gap-sm@md items-center">
        <div class="col-6@md order-1@md">
          <div class="text-component line-height-lg v-space-lg">
            <h2 class="text-xl color-black">Get your content onto Amazon without the hassle.</h2>
            <p>CNET Content Solutions has made it simple for you to get your brand’s digital marketing content directly onto Amazon product pages.</p>
            <ul class="list list--ul text-base margin-left-md@md margin-left-sm@sm">
              <li>No complex spreadsheets to fill out</li>
              <li>No third-party data models to map to</li>
              <li>No need to work with multiple vendors</li>
            </ul>
            <p>Simply give us your content in whatever format you have it in, and we’ll do the rest.</p>
            <a href="#contact" class="btn btn--primary margin-bottom-md">Get Started</a>
          </div>
        </div>
        <div class="col-6@md order-2@md">
          <figure style="margin: auto -8rem auto 0">
            <img src="../../images/devices-amazon-1x.png" srcset="../../images/devices-amazon-2x.png 2x">
          </figure>
        </div>
      </div>
    </div>
  </section>






    <div class="max-width-adaptive-md margin-auto padding-md">
      {% include '@webform' %}
    </div>
  </main>

  {% include '@footer' %}

</div>
