<div id="page">

  {% include '@header' %}

  <main id="content">

  {{ source('src/components/pages/retailers/amazon/_intro.twig') }}

  {% include '@webform--onboarding' %}

  {% include '@footer' %}

</div>
