style
  :scss(compress=true)
    #carousel {
      .carousel__navigation {
        cursor: pointer;
        box-shadow: none;
      }
      .carousel__control {
        cursor: pointer !important;
        box-shadow: none;
      }
      .carousel__item {
        text-align: center;
        img {
          margin: auto;
        }
      }
    }
div(class='text-component margin-auto max-width-adaptive-sm padding-bottom-lg')
  h6(class='text-component text-center text-lg color-black') #{carousel.headline}
div(class='carousel flex flex-column js-carousel', data-drag='on', data-loop='off', data-justify-content='on')
  p(class='sr-only') Carousel items
  div(class='carousel__wrapper order-2 overflow-hidden')
    ol(class='carousel__list')
      each item, index in carousel.logos
        li.carousel__item #[img(width='96', height='96', src=item.image)]
  div.margin-bottom-xs.order-1.no-js(:is-hidden)
    div.flex.justify-between.items-center
      p.text-sm.color-contrast-medium #[i.js-carousel__counter] #[span / ] #[i.js-carousel__counter-tot]
      nav
        ul.flex.gap-xxxs.justify-end
          li
            button.reset.carousel__control.carousel__control--prev.js-carousel__control.js-tab-focus
              svg.icon(viewBox='0 0 20 20')
                title Show previous items
                polyline(points='13 18 5 10 13 2', fill='none', stroke='currentColor', stroke-miterlimit='10', stroke-width='2')
          li
            button.reset.carousel__control.carousel__control--next.js-carousel__control.js-tab-focus
              svg.icon(viewBox='0 0 20 20')
                title Show next items
                polyline(points='7 18 15 10 7 2', fill='none', stroke='currentColor', stroke-miterlimit='10', stroke-width='2')
