{% if sfdcLabel %}<label class="form-label margin-bottom-xxxs block" for="00N20000000gOZN">Product</label>{% endif %}
<div class="select width-100%">
  <select id="00N20000000gOZN" name="00N20000000gOZN" class="select__input form-control width-100%" required data-parsley-required-message>
    <option disabled selected value>Please Select</option>
    <option>-- None --</option>
    <optgroup label="Product Information">
      <option value="DataSource">DataSource</option>
      <option value="PartnerAccess">PartnerAccess</option>
    </optgroup>
    <optgroup label="Content Syndication">
      <option value="ContentCast - Mfr">ContentCast - Mfr.</option>
      <option value="ContentCast - Reseller">ContentCast - Reseller</option>
    </optgroup>
    <optgroup label="Online Selling Tools">
      <option value="Product Finders">Guided Selling</option>
      <option value="Premium Content">Premium Content</option>
      <option value="Product Reviews">Product Reviews</option>
    </optgroup>
    <optgroup label="Sales Automation">
      <option value="ChannelOnline">ChannelOnline</option>
      <option value="ChannelSupply">ChannelSupply</option>
    </optgroup>
    <option value="Custom Solutions">Custom Solutions</option>
    <option value="Other">Other</option>
  </select>
  <svg class="icon select__icon" aria-hidden="true" viewBox="0 0 16 16">
    <g stroke-width="2" stroke="currentColor">
      <polyline fill="none" stroke="currentColor" points="15.5,4.5 8,12 0.5,4.5 "></polyline>
    </g>
  </svg>
</div>
