{% if sfdcLabel %}<label class="form-label margin-bottom-xxxs block" for="country">Services</label>{% endif %}
<div class="select width-100%">
  <select id="country" name="country" class="select__input form-control width-100%" required data-parsley-required-message>
    <option disabled selected value>Please Select</option>
    <option>-- None --</option>
    <option value="CBSI Editorial Content">BSI Editorial Content</option>
    <option value="ChannelOnline">ChannelOnline</option>
    <option value="ChannelSupply">ChannelSupply</option>
    <option value="ClientSolutions">ClientSolutions</option>
    <option value="CNET Reviews">CNET Reviews</option>
    <option value="Custom">Custom</option>
    <option value="DataSource">DataSource</option>
    <option value="DataSource Static License">DataSource Static License</option>
    <option value="Gamespot">Gamespot</option>
    <option value="Item Setup - Best Buy">Item Setup - Best Buy</option>
    <option value="Item Setup - MSH">Item Setup - MSH</option>
    <option value="Item Setup - Otto">Item Setup - Otto</option>
    <option value="Item Setup - Walmart">Item Setup - Walmart</option>
    <option value="Logo Consumer">Logo Consumer</option>
    <option value="Logo Services">Logo Services</option>
    <option value="Mapping Services">Mapping Services</option>
    <option value="Merchant License">Merchant License</option>
    <option value="MSRP Feed">MSRP Feed</option>
    <option value="PartnerAccess (RPA) - Best Buy">PartnerAccess (RPA) - Best Buy</option>
    <option value="PartnerAccess (RPA) - Dixons">PartnerAccess (RPA) - Dixons</option>
    <option value="PartnerAccess (RPA) - London Drugs">PartnerAccess (RPA) - London Drugs</option>
    <option value="PartnerAccess (RPA) - Staples EU">PartnerAccess (RPA) - Staples EU</option>
    <option value="PartnerAccess (RPA) - Staples US">PartnerAccess (RPA) - Staples US</option>
    <option value="PartnerAccess Free">PartnerAccess Free</option>
    <option value="PartnerAccess Premium">PartnerAccess Premium</option>
    <option value="PCC - Amazon (AFS)">PCC - Amazon (AFS)</option>
    <option value="PCC - Best Buy">PCC - Best Buy</option>
    <option value="PCC - Currys">PCC - Currys</option>
    <option value="PCC - Elkjop">PCC - Elkjop</option>
    <option value="PCC - London Drugs">PCC - London Drugs</option>
    <option value="PCC - MSH">PCC - MSH</option>
    <option value="PCC - Otto">PCC - Otto</option>
    <option value="PCC - Walmart">PCC - Walmart</option>
    <option value="Premium Content">Premium Content</option>
    <option value="Premium Content - Staples">Premium Content - Staples</option>
    <option value="Product Finder">Product Finder</option>
    <option value="Product Selector">Product Selector</option>
    <option value="Rich Content - Amazon (A+)">Rich Content - Amazon (A+)</option>
    <option value="Rich Content - Argos">Rich Content - Argos</option>
    <option value="Rich Content - Best Buy">Rich Content - Best Buy</option>
    <option value="Rich Content - Consumer">Rich Content - Consumer</option>
    <option value="Rich Content - Costco">Rich Content - Costco</option>
    <option value="Rich Content - Currys">Rich Content - Currys</option>
    <option value="Rich Content - Elkjop">Rich Content - Elkjop</option>
    <option value="Rich Content - General Syndication">Rich Content - General Syndication</option>
    <option value="Rich Content - Home Depot">Rich Content - Home Depot</option>
    <option value="Rich Content - London Drugs">Rich Content - London Drugs</option>
    <option value="Rich Content - Office Depot">Rich Content - Office Depot</option>
    <option value="Rich Content - Pilot">Rich Content - Pilot</option>
    <option value="Rich Content - Staples">Rich Content - Staples</option>
    <option value="Rich Content - Target">Rich Content - Target</option>
    <option value="Rich Content - Walmart">Rich Content - Walmart</option>
    <option value="Templex">Templex</option>
    </optgroup>

  </select>
  <svg class="icon select__icon" aria-hidden="true" viewBox="0 0 16 16">
    <g stroke-width="2" stroke="currentColor">
      <polyline fill="none" stroke="currentColor" points="15.5,4.5 8,12 0.5,4.5 "></polyline>
    </g>
  </svg>
</div>
