/**
 * /* -------------------------------- 
 * 
 * File#: _1_image-magnifier
 * Title: Image Magnifier
 * Descr: Plugin to create a magnifying effect on an image
 * 
 * 
 * --------------------------------
 *
 * @format
 */

.img-mag {
  overflow: hidden;
}

.img-mag__asset {
  display: block;
  width: 100%;
  transform-origin: left top;
}
