<section class="position-relative bg-cover padding-y-md" id="service" style="background-image: url('https://assets.cnetcontent.com/images/background.jpg')">
  <span class="overlay z-index-1 opacity-50%" style="background-color: var(--color-primary-darker)"></span>
  <div class="container position-relative z-index-2 max-width-adaptive-lg margin-top-sm">
      <div class="text-component text-center padding-x-sm">
        <h1 class="color-white text-xl text-xxl@md padding-y-xxs@lg">One partner. One complete solution.</h1>
        <p class="color-white font-medium">Just provide your content to us in whatever format you have it in, and we’ll take care of the rest.</p>
      </div>
      <div class="padding-y-lg flex justify-center max-width-adaptive-md margin-auto">
        <div class="grid gap-xl justify-center z-index-3 width-100%">
          <div class="link-card bg radius-lg col-6@md">
            <div class="flex flex-column width-100%">
              <header class="margin-x-md margin-y-sm flex@md flex-row items-center">
                <figure class="col-4">
                  <svg viewBox="0 0 64 64">
                    <use xlink:href="#spec"></use>
                  </svg>
                </figure>
                <h4 class="text-md text-lg@md line-height-xl padding-top-xs@sm">&nbsp;Structured Product Content</h4>
              </header>
              <main class="text-component margin-bottom-sm padding-x-md">
                <ul class="list list--ul margin-left-xs padding-bottom-sm font-medium">
                  <li>Technical Specifications</li>
                  <li>Product Attributes</li>
                  <li>Images</li>
                  <li>Key Selling Points</li>
                  <li>Product Features</li>
                </ul>
              </main>
            </div>
            <footer class="flex bg-contrast-lower margin-top-auto">
              <a class="btn btn--lg color-black padding-y-sm margin-auto@md" href="https://www.partneraccess.com/login">Sign in here <span class="color-black opacity-30%">&nbsp;&#8594;</span></a>
            </footer>
          </div>
          <div class="link-card bg radius-lg col-6@md">
            <div class="flex flex-column width-100%">
              <header class="margin-x-md margin-y-sm flex@md flex-row items-center">
                <figure class="col-4">
                  <svg viewBox="0 0 64 64">
                    <use xlink:href="#media"></use>
                  </svg>
                </figure>
                <h4 class="text-md text-lg@md line-height-xl padding-top-xs@sm">&nbsp;Rich Inline Content</h4>
              </header>
              <main class="text-component margin-bottom-sm padding-x-md">
                <ul class="list list--ul margin-left-xs padding-bottom-sm font-medium">
                  <li>Interactive Hotspot Imagery</li>
                  <li>Image Zoom and 360° Product Views</li>
                  <li>Videos</li>
                  <li>Comparison Charts</li>
                  <li>Detailed Reporting</li>
                </ul>
              </main>
            </div>
            <footer class="flex bg-contrast-lower margin-top-auto">
              <a class="btn btn--lg color-black padding-y-sm margin-auto@md" href="https://login.portal.cnetcontent.com/en-us/login">Sign in here <span class="color-black opacity-30%">&nbsp;&#8594;</span></a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  <!-- div style="display:none">
    {{!-- source('src/public/icons/business-benefits.svg') --}}
  </div -->
</section>
