<div id="page">

  {% include '@retail-page-header' %}

<main id="content">
  <section>
    <div class="container max-width-adaptive-md padding-y-xl">
      <div class="grid gap-lg gap-xxxl@md items-center">
        <div class="col-6@md order-1@md">
          <div class="text-component line-height-lg v-space-lg">
            <h2 class="text-xl color-black">Ensure accurate and complete product content on Walmart.com</h2>
              <p>CNET Content Solutions gives Walmart’s brand partners the best opportunity to control and manage their brand content on Walmart.com with item setup, content enhancement, rich media, and detailed analytics.</p>
              <a href="#contact" class="btn btn--primary margin-bottom-md">Get Started</a>
            </div>
          </div>
        <div class="col-6@md order-2@md">
          <figure class="media-wrapper media-wrapper--4:3">
            <img src="https://assets.cnetcontent.com/images/_outside-mobile-top-1x.jpg" srcset="https://assets.cnetcontent.com/images/_outside-mobile-top-2x.jpg 2x">
          </figure>
        </div>
      </div>
    </div>
  </section>


  <section class="position-relative bg-cover padding-y-md" id="service" style="background-image: url('https://assets.cnetcontent.com/images/background.jpg')">
    <span class="overlay z-index-1 opacity-50%" style="background-color: var(--color-primary-darker)"></span>
    <div class="container position-relative z-index-2 max-width-adaptive-lg">
      <div class="text-component text-center padding-x-sm">
        <h1 class="color-white text-xxl text-xxxl@lg padding-y-xxs@lg">One partner. One complete solution.</h1>
      </div>
      <div class="padding-y-lg flex justify-center max-width-adaptive-md margin-auto">
        <div class="grid gap-xl justify-center z-index-3 width-100%">
          <div class="link-card bg radius-lg col-6@md">
            <div class="flex flex-column width-100%">
              <header class="grid items-center padding-left-md padding-top-sm padding-bottom-xs padding-right-0">
                <figure class="col-2@lg grid">
                  <svg viewbox="0 0 64 64">
                    <use xlink:href="#spec"></use>
                  </svg>
                </figure>
                <h4 class="text-md col padding-top-xxxs@sm">Structured Product Content</h4>
              </header>
              <main class="text-component margin-bottom-sm padding-x-md">
                <ul class="list list--ul margin-left-xs padding-bottom-sm">
                  <li>Technical Specifications</li>
                  <li>Product Attributes</li>
                  <li>Images</li>
                  <li>Key Selling Points</li>
                  <li>Product Features</li>
                </ul>
              </main>
            </div>
            <footer class="flex bg-contrast-lower margin-top-auto">
              <a class='btn padding-y-sm margin-auto@md' href='https://www.partneraccess.com/login'>Sign in here &#8594;</a>
            </footer>
          </div>
          <div class="link-card bg radius-lg col-6@md">
            <div class="flex flex-column width-100%">
              <header class="grid items-center padding-left-md padding-top-sm padding-bottom-xs padding-right-0">
                <figure class="col-2@lg grid">
                  <svg viewbox="0 0 64 64">
                    <use xlink:href="#media"></use>
                  </svg>
                </figure>
                <h4 class="text-md col padding-top-xxxs@sm">&nbsp;Rich Inline Content</h4>
              </header>
              <main class="text-component margin-bottom-sm padding-x-md">
                <ul class="list list--ul margin-left-xs padding-bottom-sm">
                  <li>Interactive Hotspot Imagery</li>
                  <li>Image Zoom and 360° Product Views</li>
                  <li>Videos</li>
                  <li>Comparison Charts</li>
                  <li>Detailed Reporting</li>
                </ul>
              </main>
            </div>
            <footer class="flex bg-contrast-lower margin-top-auto">
              <a class='btn padding-y-sm margin-auto@md' href='https://login.portal.cnetcontent.com/en-us/login'>Sign in here &#8594;</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>


  {% include '@cards--cluster-01' %}


  <section>
    <div class="container max-width-adaptive-md padding-y-xl">
      <div class="grid gap-lg gap-xxxl@md items-center">
        <div class="col-6@md order-1@md">
          <div class="text-component line-height-lg">
            <h2 class="text-xl color-black">Product Content Creation</h2>
            <p class="padding-top-xs">CNET works with brands to aggregate product data and marketing assets, and formats them into the specific structure required by Walmart to get them on-boarded. We then collect and deliver the detailed product specifications, warranty information, marketing copy and other structured product information needed to power your product pages on Walmart.com.</p>
          </div>
        </div>
        <div class="col-6@md order-2@md">
          <figure class="media-wrapper media-wrapper--4:3">
            <img src="https://assets.cnetcontent.com/images/_home-office-right-1x.jpg" srcset="https://assets.cnetcontent.com/images/_home-office-right-2x.jpg 2x">
          </figure>
        </div>
      </div>
    </div>
  </section>


  <section>
  <script>
    function ImagePreload() {
      if(window.devicePixelRatio > 1) {
        imgA1 = new Image(); imgA1.src = 'https://assets.cnetcontent.com/images/features-hotspots-2x.jpg';
        imgA4 = new Image(); imgA4.src = 'https://assets.cnetcontent.com/images/features-spin-2x.jpg';
        imgA5 = new Image(); imgA5.src = 'https://assets.cnetcontent.com/images/features-videos-2x.jpg';
        imgA6 = new Image(); imgA6.src = 'https://assets.cnetcontent.com/images/features-zoom-2x.jpg';
        imgA7 = new Image(); imgA7.src = 'https://assets.cnetcontent.com/images/features-reporting-2x.jpg';
        imgA8 = new Image(); imgA8.src = 'https://assets.cnetcontent.com/images/features-compare-2x.jpg';
      } else {
        imgB1 = new Image(); imgB1.src = 'https://assets.cnetcontent.com/images/features-hotspots-1x.jpg';
        imgB4 = new Image(); imgB4.src = 'https://assets.cnetcontent.com/images/features-spin-1x.jpg';
        imgB5 = new Image(); imgB5.src = 'https://assets.cnetcontent.com/images/features-videos-1x.jpg';
        imgB6 = new Image(); imgB6.src = 'https://assets.cnetcontent.com/images/features-zoom-1x.jpg';
        imgB7 = new Image(); imgB7.src = 'https://assets.cnetcontent.com/images/features-reporting-1x.jpg';
        imgB8 = new Image(); imgB8.src = 'https://assets.cnetcontent.com/images/features-compare-1x.jpg';
      }
    };
      window.onload = ImagePreload;
      function ImageSwap(ImageID,FileName1,FileName2) {
      document.getElementById(ImageID).src = FileName1;
      document.getElementById(ImageID).srcset = FileName2;
    };
  </script>
    <div class="container max-width-adaptive-md padding-y-xl">
      <div class="grid gap-lg gap-xxxl@md items-center">
        <div class="col-6@md order-2@md">
          <div class="text-component line-height-md">
            <h2 class="text-xl color-black">Rich Content Syndication</h2>
            <p class="padding-top-xs">Transform your existing marketing assets into powerful digital merchandising tools that <cite>increase interaction rates by up to 50%</cite>. Research shows that consumers are <cite>100-150% more likely to buy</cite> after interaction with rich content, which includes:</p>
            <ul class="list list--ul margin-left-md@md margin-left-sm@sm line-height-sm">
              <li><a class="link" href="javascript:void(0)" onmouseout="ImageSwap('jsImageSwap','https://assets.cnetcontent.com/images/_brand-assets-left-1x.jpg','https://assets.cnetcontent.com/images/_brand-assets-left-2x.jpg')" name="hotspot" onmouseover="ImageSwap('jsImageSwap','https://assets.cnetcontent.com/images/features-hotspots-1x.jpg','https://assets.cnetcontent.com/images/features-hotspots-2x.jpg')">Interactive Hotspots</a></li>
              <li><a class="link" href="javascript:void(0)" onmouseout="ImageSwap('jsImageSwap','https://assets.cnetcontent.com/images/_brand-assets-left-1x.jpg','https://assets.cnetcontent.com/images/_brand-assets-left-2x.jpg')" name="zoom" onmouseover="ImageSwap('jsImageSwap','https://assets.cnetcontent.com/images/features-zoom-1x.jpg','https://assets.cnetcontent.com/images/features-zoom-2x.jpg')">Image Zoom</a></li>
              <li><a class="link" href="javascript:void(0)" onmouseout="ImageSwap('jsImageSwap','https://assets.cnetcontent.com/images/_brand-assets-left-1x.jpg','https://assets.cnetcontent.com/images/_brand-assets-left-2x.jpg')" name="video" onmouseover="ImageSwap('jsImageSwap','https://assets.cnetcontent.com/images/features-videos-1x.jpg','https://assets.cnetcontent.com/images/features-videos-2x.jpg')">Videos</a></li>
              <li><a class="link" href="javascript:void(0)" onmouseout="ImageSwap('jsImageSwap','https://assets.cnetcontent.com/images/_brand-assets-left-1x.jpg','https://assets.cnetcontent.com/images/_brand-assets-left-2x.jpg')" name="spin" onmouseover="ImageSwap('jsImageSwap','https://assets.cnetcontent.com/images/features-spin-1x.jpg','https://assets.cnetcontent.com/images/features-spin-2x.jpg')">360° Product Views</a></li>
              <li><a class="link" href="javascript:void(0)" onmouseout="ImageSwap('jsImageSwap','https://assets.cnetcontent.com/images/_brand-assets-left-1x.jpg','https://assets.cnetcontent.com/images/_brand-assets-left-2x.jpg')" name="compare" onmouseover="ImageSwap('jsImageSwap','https://assets.cnetcontent.com/images/features-compare-1x.jpg','https://assets.cnetcontent.com/images/features-compare-2x.jpg')">Comparison Charts</a></li>
              <li><a class="link" href="javascript:void(0)" onmouseout="ImageSwap('jsImageSwap','https://assets.cnetcontent.com/images/_brand-assets-left-1x.jpg','https://assets.cnetcontent.com/images/_brand-assets-left-2x.jpg')" name="report" onmouseover="ImageSwap('jsImageSwap','https://assets.cnetcontent.com/images/features-reporting-1x.jpg','https://assets.cnetcontent.com/images/features-reporting-2x.jpg')">Detailed Reporting</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6@md order-1@md">
          <figure class="media-wrapper media-wrapper--4:3">
            <img id="jsImageSwap" src="https://assets.cnetcontent.com/images/_brand-assets-left-1x.jpg" srcset="https://assets.cnetcontent.com/images/_brand-assets-left-2x.jpg 2x">
          </figure>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container max-width-adaptive-md padding-y-xl">
      <div class="grid gap-lg gap-xxxl@md items-center">
        <div class="col-6@md order-1@md">
          <span class="text-component line-height-lg text-base">
            <h2 class="text-xl color-black">Choose Self-Service or use CNET’s Concierge Content Service</h2>
            <p class="padding-top-sm">Our standard offering includes access to our Brand Content Portal for you to easily self-serve and build out the syndicated rich content experience you prefer</p>
            <p>If you are short on time and resources, we can create rich content for you via our Concierge Content Service. We’ll take your creative assets and turn them into captivating interactive experiences to drive sales on Costco.com. Your choice. We’re happy to help.</p>
          </span>
        </div>
        <div class="col-6@md order-2@md">
          <figure class="media-wrapper media-wrapper--4:3">
            <img src="https://assets.cnetcontent.com/images/portal-1x.jpg" srcset="https://assets.cnetcontent.com/images/portal-2x.jpg 2x">
          </figure>
        </div>
      </div>
    </div>
  </section>


  {% include '@retail-contact-form' %}


  </main>

  {% include '@retail-page-footer' %}

</div>
